body {
   text-align: center;
   margin: 0;

}
h2 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
align-items: flex-end;
letter-spacing: 3.3px;
text-transform: uppercase;
    color: #373737;
    margin: 49px 253px 38px;
}
p {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

letter-spacing: 2.4px;

color: #373737;

}
img {
    width: 100%;
    max-width: 100%;
    font-weight: bold;

}
.navbar {
    padding: 25px;
    

}
.navbar a {
    margin: 0;
    padding: 25px 36px;
    color: red;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 2px;
   
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.navbar li {
    font-weight: 700;
font-size: 18px;
line-height: 18px;
    display: inline;

}
button {
    margin: 66px 0 82px 0;
    background: #FF0000;
border-radius: 4px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
border-width: 25px;
border-color: red;
border-style: solid;

letter-spacing: 1.8px;
text-transform: uppercase;

color: #FFFFFF;

}
.footer {
    margin-left: 900px;
  
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;

color: #373737;
}